*{padding: 0; margin: 0; box-sizing: border-box;}

main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(32, 7, 7);
    
}

header{
    
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to bottom, white, whitesmoke, lightgray, gray);
}
aside{
    position: absolute;
    left: 0;
    
    width: 20%;
    height: 80%;
    background-color: red;
    
}
section{
    width: 80%;
    height: 80%;
    background-color: white;
    position: absolute;
    right: 0;
    display: flex;
}

.tasks_slot{
    border: 3px dashed rgba(0,0,0,0.5);
    border-radius: 25px;
    width: 30%;
    margin-left: 10px;
    padding: 5px
}
#addTask{
    background: none;
    border: none;
    width: 100%;
    height: 35px;
    font-size: 19px;

}
#addTask:hover{
    cursor: pointer;
}
.taskToResolv{
    width: 98%;
    background-color: white;
    border: 1px dashed black;
    height: 80%;
    margin: 0 auto;

}

.task-obj{
    width: 95%;
    height: 100px;
    background-color: rgb(47, 194, 47);
    border-radius: 15px;
    margin: 5px;
    padding: 3px;
}

